<!DOCTYPE HTML>
<html>
	<head>
		<title>Vraj Prajapati - Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Projects</a></li>
							<li><a href="#two">Skills</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Hello!</h1>
							<p>I'm Vraj Prajapati. A highschool developer who makes a lot of cool stuff.<br />
							This website is just a short introduction to what I do and a little more about me!</a>.</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Check out my projects!</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					{% for project in projects %}
					
					{% endfor %}
					<section id="one" class="wrapper style2 spotlights">
						{% for project in projects %}
						<section>
							<a href="{{ url_for('project', project_name=project['name']) }}" class="image"><img src="{{ url_for('static', filename=project['image']) }}" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>{{ project['title'] }}</h2>
									<p>{{ project['description'] }}</p>
									<ul class="actions">
										<li><a href="{{ url_for('project', project_name=project['name']) }}" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						{% endfor %}
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Skills</h2>
							<p>These are some of the skills I have in the STEM workspace.</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Python</h3>
									<p>Python is one of my favourite programming languages. It is versatile and can be used to create almost anything. I am very skilled with the working of Python 2 and 3.</p>
								</section>
								<section>
									<span class="icon solid major fa-database"></span>
									<h3>Databasing</h3>
									<p>I am more than comfortable databasing with relational (SQL) and non-relational databases (MongoDB).</p>
								</section>
								<section>
									<span class="icon solid major fa-mobile"></span>
									<h3>Android Development</h3>
									<p>I am comfortable using Android Studio to create and deploy applications. I can also create mobile ready web applications.</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Application Development</h3>
									<p>I can use Qt and Tk to create and deliver applications varying from simple buttons to a fully interactive GUI.</p>
								</section>
								<section>
									<span class="icon solid major fa-calculator"></span>
									<h3>Algorithmic Knowledge</h3>
									<p>I am very comfortable with a variety of algorithms ranging from simple binary search to complex graph theory algorithms.</p>
								</section>
								<section>
									<span class="icon solid major fa-exclamation"></span>
									<h3>Eager to Learn</h3>
									<p>More than anything, I know that I have only cracked the surface of development. I am eager to learn more tools that will help me create even better products!</p>
								</section>
							</div>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>Thanks for taking an interest. You can contant me using any of the methods listed below!</p>
							<section>
								<ul class="contact">
									<li>
										<h3>Email</h3>
										<a href="mailto:vrajip@gmail.com">vrajip@gmail.com</a>
									</li>
									<li>
										<h3>Discord</h3>
										<a href="https://discordapp.com/users/265875544552243200">vpro#8478</a>
									<li>
										<h3>Social</h3>
										<ul class="icons">
											<li><a href="https://github.com/vproHacks" class="icon brands fa-github" target="_blank"><span class="label">GitHub</span></a></li>
											<li><a href="https://www.instagram.com/vpro8725/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
											<li><a href="https://www.linkedin.com/in/vraj8725/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
										</ul>
									</li>
								</ul>
							</section>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Vraj Prajapati. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>